{% extends "bootstrap/base.html" %}
{% block title %}test{% endblock %}
{% block head %}{{super()}}

<script src="{{url_for('static', filename='js/jquery-3.2.0.min.js')}}"></script>
<style type="text/css">
    /*#myselect {*/
        /*margin: 10px;*/
    /*}*/

    .col-xs-6.col-sm-4 {
        margin-top: 20px;
    }

    h3 {
        text-align: center;
    }

    h5 {
        text-align: center;
    }
</style>
<script>
    var mydict = {
        '吉林省': {
            '白山市': {
                '临江市': {
                    '临江市临江大街澳伦专卖店': {
                        'address': '吉林省白山市临江市建国街道临江大街271号',
                        'phone': '0439-5265868'
                    }
                },
                '抚松县': {
                    '松江河镇澳伦专卖店': {
                        'address': '吉林省白山市抚松县松山街松江河商贸中心东北200米',
                        'phone': '0439-6573067'
                    },
                    '抚松澳伦专卖店': {
                        'address': '吉林省白山市抚松县抚松镇香江路',
                        'phone': '0439-5099378'
                    }
                },
                '靖宇县': {
                    '白山市靖宇县澳伦专卖店': {
                        'address': '吉林省白山市靖宇县靖宇镇蒙江路70号',
                        'phone': '15943965559'
                    }
                },
                '浑江区': {
                    '白山广泽大富豪澳伦专柜': {
                        'address': '吉林省白山市浑江区红旗街道广泽国际购物中心',
                        'phone': '13044356401'
                    },
                    '白山集贸大厦澳伦专卖店': {
                        'address': '吉林省白山市浑江区红旗街道新华路13-18号',
                        'phone': '0439-3210950'
                    }
                }
            },
            '四平市': {
                '公主岭市': {
                    '公主岭市温州城二区西门澳伦专卖店': {
                        'address': '吉林省四平市公主岭市河南街道东方旅馆(西二马路)',
                        'phone': '0434-6225088'
                    },
                    '公主岭市范家屯澳伦专卖店': {
                        'address': '吉林省四平市公主岭市范家屯镇西胜利大街',
                        'phone': '0434-6810622'
                    },
                    '公主岭市温州城一区西门澳伦专卖店': {
                        'address': '吉林省四平市公主岭市环岭街道西二马路5号',
                        'phone': '0434-8888399'
                    },
                    '公主岭市温州城一区东门澳伦专卖店': {
                        'address': '吉林省四平市公主岭市环岭街道东头道街',
                        'phone': '15665985950'
                    }
                },
                '双辽市': {
                    '双辽商业街澳伦专卖店': {
                        'address': '吉林省四平市双辽市郑家屯街道中兴路',
                        'phone': '0434-7676608'
                    }
                },
                '梨树县': {
                    '梨树一百店澳伦专卖店': {
                        'address': '吉林省四平市梨树县梨树镇奉化西大街1号一百楼下',
                        'phone': '0434-5222220'
                    },
                    '四平郭家店澳伦专卖店': {
                        'address': '吉林省四平市梨树县郭家店镇053县道',
                        'phone': '13009033445'
                    },
                    '梨树孤家子佳鑫步行街澳伦专卖店': {
                        'address': '吉林省四平市梨树县孤家子镇佳鑫商业大厦西北',
                        'phone': '0434-5576688'
                    }
                },
                '铁东区': {
                    '四平欧亚澳伦专柜': {
                        'address': '吉林省四平市欧亚商场二楼澳伦专柜',
                        'phone': '13844405883'
                    },
                    '四平铁东区澳伦专卖店': {
                        'address': '吉林省四平市铁东区北市场街道南三经街243号',
                        'phone': '0434-3535098'
                    }
                },
                '伊通满族自治县': {
                    '伊通大街澳伦专卖店': {
                        'address': '吉林省四平市伊通满族自治县伊通镇伊通大街伊通宾馆楼下',
                        'phone': '0434-4221920'
                    }
                }
            },
            '敦化市': {
                '其他地区': {
                    '敦化商贸城南街澳伦专卖店': {
                        'address': '吉林省延边朝鲜族自治州敦化市民主街道商贸城南街澳伦专卖店',
                        'phone': '0433—6669168'
                    },
                    '敦化力源综合楼澳伦专卖店': {
                        'address': '吉林省延边朝鲜族自治州敦化市民主街道力源综合楼一楼澳伦专卖店',
                        'phone': '0433-6669099'
                    },
                    '敦化秋林南门澳伦专卖店': {
                        'address': '吉林省延边朝鲜族自治州敦化市民主街秋林南门一楼门市澳伦专卖店',
                        'phone': '0433-6669088'
                    }
                }
            },
            '松原市': {
                '乾安县': {
                    '乾安澳伦专卖店': {
                        'address': '吉林省松原市乾安县鸣凤大街873号（井方对面石油公司楼下）',
                        'phone': '13943867895'
                    }
                },
                '宁江区': {
                    '松原郭尔罗斯大路澳伦专卖店二店': {
                        'address': '吉林省松原市宁江区大路2700号',
                        'phone': '0438-2128082'
                    },
                    '松原郭尔罗斯大路澳伦专卖店一店': {
                        'address': '吉林省松原市宁江区郭尔罗斯大路117号',
                        'phone': '0438-5080606'
                    },
                    '松原江北澳伦专卖店': {
                        'address': '吉林省松原市宁江区民主街道新城东路121号',
                        'phone': '0438-3123329'
                    }
                },
                '扶余市': {
                    '扶余商贸步行街澳伦专卖店': {
                        'address': '吉林省松原市扶余县商贸步行街澳伦专卖',
                        'phone': '0438-5868786'
                    }
                }
            },
            '吉林市': {
                '桦甸市': {
                    '桦甸澳伦专柜': {
                        'address': '吉林省吉林市桦甸市大兴街百信鞋业',
                        'phone': '15526520029'
                    }
                },
                '舒兰市': {
                    '舒兰站前澳伦专卖店': {
                        'address': '吉林省吉林市舒兰市南城街道站前路522号',
                        'phone': '0432-68220244'
                    }
                },
                '昌邑区': {
                    '吉林东市澳伦专柜': {
                        'address': '吉林省吉林市昌邑区重庆路989号',
                        'phone': '15526520026'
                    },
                    '松江人民商场澳伦专柜': {
                        'address': '吉林省吉林市昌邑区中兴街116号人民商场一楼 ',
                        'phone': '15526520026'
                    }
                },
                '磐石市': {
                    '磐石澳伦专卖店': {
                        'address': '吉林省吉林市磐石市东宁街道磐石大街',
                        'phone': '0432-65767676'
                    }
                },
                '蛟河市': {
                    '蛟河老公安局楼下澳伦专卖店': {
                        'address': '吉林省吉林市蛟河市民主街道永安路22号',
                        'phone': '0432-67249855'
                    },
                    '蛟河百信商场澳伦专柜': {
                        'address': '吉林省吉林市蛟河市民主街道新华大街',
                        'phone': '0432-67229942'
                    },
                    '蛟河全友家私楼下澳伦专卖店': {
                        'address': '吉林省吉林市蛟河市民主街道新华大街5-12号',
                        'phone': '0432-67184399'
                    }
                },
                '船营区': {
                    '吉林秋林澳伦专柜': {
                        'address': '吉林省吉林市船营区河南街125号百信鞋业',
                        'phone': '15526520029'
                    }
                }
            },
            '延吉市': {
                '其他地区': {
                    '延吉市百货大楼A座四楼澳伦女鞋专柜': {
                        'address': '吉林省延边朝鲜族自治州延吉市光明街道百货大楼A座四楼女鞋澳伦专柜',
                        'phone': '18844300032'
                    },
                    '延吉市百货大楼A座二楼澳伦男鞋专柜': {
                        'address': '吉林省延边朝鲜族自治州延吉市光明街道百货大楼A座二楼澳伦男鞋专柜',
                        'phone': '18844732100'
                    }
                }
            },
            '珲春市': {
                '其他地区': {
                    '珲春国贸对面澳伦专卖店': {
                        'address': '吉林省延边朝鲜族自治州珲春市沿河西街国贸对面澳伦专卖店',
                        'phone': '0433-7502886'
                    }
                }
            },
            '梅河口': {
                '其他地区': {
                    '梅河口太昌街澳伦专卖店': {
                        'address': '吉林省梅河口市新华街道泰昌街94l号',
                        'phone': '0435-6958018'
                    }
                },
                '山城镇': {
                    '梅河口山城镇澳伦专卖店': {
                        'address': '吉林省梅河口市山城镇069县道',
                        'phone': '0435-6905848'
                    }
                },
                '海龙镇': {
                    '梅河口海龙澳伦专卖店': {
                        'address': '吉林省梅河口市海龙镇未来之星幼儿园附近',
                        'phone': '0435-4717267'
                    }
                }
            },
            '长春市': {
                '农安县': {
                    '农安德彪街澳伦专卖店': {
                        'address': '吉林省长春市农安县德彪街佳加乐一楼门市',
                        'phone': '0431-83224155'
                    },
                    '农安步行街澳伦专卖店': {
                        'address': '吉林省长春市农安县农安镇繁华路金街花园',
                        'phone': '0431-83231455'
                    }
                },
                '宽城区': {
                    '长春太平洋鞋城澳伦专柜': {
                        'address': '吉林省长春市宽城区站前街道胜利大街太平洋鞋城1090号',
                        'phone': '0431-87052323'
                    }
                },
                '榆树市': {
                    '榆树市榆树大街东澳伦专卖店': {
                        'address': '吉林省长春市榆树市培英街道榆树大街绿丹兰楼下',
                        'phone': '0431-83664177'
                    },
                    '榆树市榆树大街西澳伦专卖店': {
                        'address': '吉林省长春市榆树市榆树大街道西（中国工商银行对面）',
                        'phone': '15567014420'
                    }
                },
                '南关区': {
                    '长春百信鞋城澳伦专柜': {
                        'address': '吉林省长春市南关区重庆路百信鞋城',
                        'phone': '0431-87052323'
                    }
                },
                '德惠市': {
                    '德惠大富豪鞋城澳伦专柜': {
                        'address': '吉林省长春市德惠市东三道街大富豪鞋城一楼澳伦专柜',
                        'phone': '0431-87237882'
                    },
                    '德惠胜利街北澳伦专卖店': {
                        'address': '吉林省长春市德惠市胜利街道振兴街广大旁边',
                        'phone': '0431-87213397'
                    },
                    '德惠住邦澳伦专柜': {
                        'address': '吉林省长春市德惠市胜利街道德惠路886号',
                        'phone': '0431-81186681'
                    },
                    '德惠胜利街南澳伦专卖店': {
                        'address': '吉林省长春市德惠市胜利街道振兴街二商店旁边',
                        'phone': '0431-87228628'
                    },
                    '德惠广大商场澳伦专柜': {
                        'address': '吉林省长春市德惠市东三道街广大商城一楼澳伦专柜',
                        'phone': '0431-87223177'
                    },
                    '德惠新东方澳伦专柜': {
                        'address': '吉林省长春市德惠市建设街道振兴街241号',
                        'phone': '0431-81180302'
                    }
                },
                '九台区': {
                    '九台澳伦专柜': {
                        'address': '吉林省长春市九台区站前路25号步步高购物广场一楼',
                        'phone': '15944100695'
                    }
                },
                '双阳区': {
                    '双阳市双阳大街澳伦专卖店': {
                        'address': '吉林省长春市双阳区西双阳大街红百合楼下东数第三门市    ',
                        'phone': '0431-84230359'
                    }
                }
            },
            '辽源市': {
                '东丰镇': {
                    '辽源东丰镇澳伦专卖店': {
                        'address': '吉林省辽源市东丰镇丰城街793号',
                        'phone': '0437-6126855'
                    }
                },
                '龙山区': {
                    '辽源集贸澳伦专卖店': {
                        'address': '吉林省辽源市龙山区县级直管村级单位人民大街3005号',
                        'phone': '0437一3228376'
                    }
                }
            },
            '通化市': {
                '集安市': {
                    '集安胜利路澳伦专卖店': {
                        'address': '吉林省通化市集安市黎明街道胜利路',
                        'phone': '0435-6688799'
                    }
                },
                '二道江区': {
                    '通化二道江供销商场澳伦专卖店': {
                        'address': '吉林省通化市二道江区东华路783号',
                        'phone': '0435-3715111'
                    },
                    '通化二道江双龙花园澳伦专卖店': {
                        'address': '吉林省通化市二道江区东华路681号',
                        'phone': '0435-3707980'
                    }
                },
                '通化县': {
                    '通化县澳伦专卖店八部': {
                        'address': '吉林省通化市通化县快大茂镇团结路384号',
                        'phone': '0435-5222021'
                    },
                    '通化县澳伦专卖店九部': {
                        'address': '吉林省通化市通化县快大茂镇团结路购物中心楼下门市',
                        'phone': '13196189319'
                    }
                },
                '辉南县': {
                    '通化市朝阳镇朝阳大街澳伦专卖店': {
                        'address': '吉林省通化市辉南县朝阳镇朝阳大街77-20号',
                        'phone': '0435-8265888'
                    },
                    '通化市朝阳镇凯旋路澳伦专卖店': {
                        'address': '吉林省通化市辉南县朝阳镇凯旋路',
                        'phone': '1.58E+11'
                    }
                },
                '抚松县': {
                    '露水河澳伦专卖店': {
                        'address': '吉林省白山市抚松县露水河镇正阳大桥露水河工商局附近',
                        'phone': '0439-5067788'
                    }
                },
                '柳河县': {
                    '柳河县柳河大街街东澳伦专卖店': {
                        'address': '吉林省通化市柳河县柳河镇柳河大街2532',
                        'phone': '0435-7250758'
                    },
                    '柳河县柳河大街街西澳伦专卖店': {
                        'address': '吉林省通化市柳河县柳河镇柳河大街2699号',
                        'phone': '0435-7258696'
                    }
                },
                '东昌区': {
                    '通化金城大富豪澳伦专柜': {
                        'address': '吉林省通化市东昌区东昌街道东昌路298号金城时代购物广场',
                        'phone': '0435-3210919'
                    },
                    '通化光大家电城对面澳伦专卖店七部': {
                        'address': '吉林省通化市东昌区东昌街道新华大街87号',
                        'phone': '0435-3237566'
                    },
                    '通化中东新天地澳伦专柜': {
                        'address': '吉林省通化市东昌区环通乡江南大街106号中东城市广场(通化店)',
                        'phone': '0435-3390296'
                    },
                    '通化白金钻石旁澳伦专卖店五部': {
                        'address': '吉林省通化市东昌区东昌街道东昌路54号',
                        'phone': '0435-3218966'
                    },
                    '通化华生电器对面澳伦专卖店六部': {
                        'address': '吉林省通化市东昌区东昌街道新华大街914号',
                        'phone': '0435-3258788'
                    },
                    '通化集贸步行街澳伦专卖店一部': {
                        'address': '吉林省通化市东昌区东昌街道集贸步行街24号',
                        'phone': '13196189263'
                    },
                    '通化新华大街澳伦专卖店': {
                        'address': '吉林省通化市东昌区东昌街道东昌路669号',
                        'phone': '0435-3502666'
                    },
                    '通化集贸步行街澳伦专卖店二部': {
                        'address': '吉林省通化市东昌区东昌街道沿河北路通化集贸中心附近（集贸步行街）',
                        'phone': '0435-3379880'
                    },
                    '通化集贸步行街澳伦专卖店三部': {
                        'address': '吉林省通化市东昌区东昌街道沿河北路通化集贸中心附近（集贸步行街）',
                        'phone': '0435-3376505'
                    }
                }
            },
            '白城市': {
                '洮南市': {
                    '洮南光明北街澳伦专卖店': {
                        'address': '吉林省白城市洮南市光明街道光明北街144号',
                        'phone': '0436-6232538'
                    }
                },
                '洮北区': {
                    '白城步行街工商大厦澳伦专卖店': {
                        'address': '吉林省白城市洮北区海明街道海明东路82-2号',
                        'phone': '0436-3200097'
                    },
                    '白城步行街鞋城澳伦专柜': {
                        'address': '吉林省白城市洮北区明仁街道海明东路73号',
                        'phone': '0436-3200096'
                    },
                    '白城步行街新天地澳伦专柜': {
                        'address': '吉林省白城市洮北区海明街道海明东路79-2号',
                        'phone': '0436-5092232'
                    },
                    '白城步行街新世纪澳伦专卖店': {
                        'address': '吉林省白城市洮北区海明街道海明东路163号',
                        'phone': '0436-3249977'
                    },
                    '白城欧亚购物中心澳伦专柜': {
                        'address': '吉林省白城市洮北区幸福街道欧亚购物中心',
                        'phone': '15500295300'
                    }
                },
                '镇赉县': {
                    '镇赉步行街澳伦专卖店': {
                        'address': '吉林省白城市镇赉县正阳南街澳伦专卖店',
                        'phone': '18743627828'
                    }
                },
                '大安市': {
                    '大安市澳伦专卖店': {
                        'address': '吉林省白城市大安市锦华街道康平北街',
                        'phone': '0436-2938434'
                    }
                }
            }
        },
        '黑龙江': {
            '双城市': {
                '双城区': {
                    '双城金源澳伦专柜': {
                        'address': '黑龙江省双城市金源商场',
                        'phone': '15754487888'
                    }
                }
            }
        },
        '内蒙古自治区': {
            '通辽市': {
                '库伦旗': {
                    '通辽库伦旗澳伦专卖店': {
                        'address': '内蒙古自治区通辽市库伦旗库伦街道养畜牧路',
                        'phone': '13948138078'
                    }
                },
                '扎鲁特旗': {
                    '通辽扎鲁特旗鲁北镇澳伦专卖店': {
                        'address': '内蒙古自治区通辽市扎鲁特旗鲁北镇长江路',
                        'phone': '15147022555'
                    }
                },
                '奈曼旗': {
                    '通辽奈曼旗澳伦专卖店': {
                        'address': '内蒙古自治区通辽市奈曼旗大沁他拉镇奈曼大街2650号',
                        'phone': '15848658779/0475-2306028'
                    },
                    '通辽市奈曼旗澳伦专卖店': {
                        'address': '内蒙古自治区通辽市奈曼旗大沁他拉镇奈曼大街2654号',
                        'phone': '0475-2306028'
                    }
                },
                '科尔沁区': {
                    '通辽圈楼西门步行街澳伦专卖店': {
                        'address': '内蒙古自治区通辽市科尔沁区明仁街道科尔沁大街356号',
                        'phone': '0475-2771268'
                    }
                }
            },
            '兴安盟': {
                '突泉县': {
                    '突泉老政府宾馆澳伦专卖店': {
                        'address': '内蒙古自治区兴安盟突泉县突泉镇新华路',
                        'phone': '0482-5197977'
                    }
                }
            },
            '乌兰浩特市': {
                '扎赉特旗': {
                    '扎赉特旗澳伦专卖店': {
                        'address': '内蒙古自治区兴安盟乌兰浩特市扎赉特旗音德尔镇音德尔南路',
                        'phone': '13948897776'
                    }
                },
                '其他地区': {
                    '乌兰浩特欧亚购物中心澳伦专柜': {
                        'address': '内蒙古自治区兴安盟乌兰浩特市城郊街道欧亚购物中心',
                        'phone': '0482-3967760'
                    },
                    '乌兰浩特新天地澳伦专柜': {
                        'address': '内蒙古自治区兴安盟乌兰浩特市胜利街道乌兰西街34号',
                        'phone': '0482-8211166'
                    },
                    '乌兰浩特东方广场澳伦专卖店': {
                        'address': '内蒙古自治区兴安盟乌兰浩特市兴安街道乌兰西街79号',
                        'phone': '18248239182'
                    },
                    '乌兰浩特百货大楼澳伦专柜': {
                        'address': '内蒙古自治区兴安盟乌兰浩特市兴安街道乌兰浩特百货大楼',
                        'phone': '0482-8209998'
                    }
                }
            }
        },
        '黑龙江省': {
            '绥化市': {
                '海伦市': {
                    '海伦雷炎大街澳伦专卖店': {
                        'address': '黑龙江省绥化市海伦市海伦镇雷炎大街428号',
                        'phone': '0455-5728818'
                    },
                    '海伦市兴隆大家庭澳伦专柜': {
                        'address': '黑龙江省绥化市海伦市海伦镇雷炎大街624号海伦兴隆大家庭',
                        'phone': '13163478687'
                    }
                }
            },
            '七台河市': {
                '桃山区': {
                    '七台河大商新玛特澳伦专柜': {
                        'address': '黑龙江省七台河市桃山区桃北街道山湖路68号大商新玛特购物广场(七台河店)',
                        'phone': '0464-8306135'
                    }
                }
            },
            '鹤岗市': {
                '其他地区': {
                    '鹤岗市比优特商场澳伦专柜': {
                        'address': '黑龙江省鹤岗市比优特时代广场一楼澳伦专柜',
                        'phone': '13304688682'
                    }
                },
                '工农区': {
                    '鹤岗解放路澳伦专卖店': {
                        'address': '黑龙江省鹤岗市工农区东解放路57号',
                        'phone': '0468-6110968'
                    }
                }
            },
            '大庆市': {
                '萨尔图区': {
                    '大庆市大商百货大楼澳伦专柜': {
                        'address': '黑龙江省大庆市萨尔图区会战街道中八路7号',
                        'phone': '13101648379'
                    }
                },
                '龙凤区': {
                    '大庆新龙凤商场澳伦专柜': {
                        'address': '黑龙江省大庆市龙凤区大商龙凤商场二楼澳伦专柜',
                        'phone': '13104090579'
                    }
                }
            },
            '齐齐哈尔市': {
                '龙沙区': {
                    '齐齐哈尔新玛特澳伦专柜': {
                        'address': '黑龙江省齐齐哈尔市龙沙区正阳街道龙华路新玛特',
                        'phone': '0452—2282711'
                    }
                }
            },
            '牡丹江市': {
                '西安区': {
                    '牡丹江大商新玛特澳伦专柜': {
                        'address': '黑龙江省牡丹江市西安区先锋街道太平路大商新玛特一楼鞋区澳伦专柜',
                        'phone': '18249349330'
                    }
                }
            },
            '双城市': {
                '双城区': {
                    '双城澳伦专卖店': {
                        'address': '黑龙江省双城市十字街东老人民银行家属楼一楼10号底商（海澜之家）右侧',
                        'phone': '0451-53131622'
                    }
                }
            },
            '富锦市': {
                '其他地区': {
                    '富锦新天地购物中心澳伦专柜': {
                        'address': '黑龙江省富锦市城东街道向阳路198号新天地购物中心二楼澳伦专柜',
                        'phone': '0454-2676446'
                    },
                    '富锦向阳路西澳伦专卖店': {
                        'address': '黑龙江省富锦市向阳路中段289号道西澳伦品牌专卖店',
                        'phone': '0454-2676446'
                    }
                }
            },
            '双鸭山': {
                '集贤县': {
                    '双鸭山市集贤县福利屯澳伦专卖店二店': {
                        'address': '黑龙江省双鸭山市集贤县福利镇福双路350号',
                        'phone': '15046839866'
                    },
                    '双鸭山市集贤县福利屯澳伦专卖店一店': {
                        'address': '黑龙江省双鸭山市集贤县福利镇福双路342号',
                        'phone': '15046839866'
                    }
                }
            },
            '伊春市': {
                '伊春区': {
                    '伊春大商澳伦专柜': {
                        'address': '黑龙江省伊春市伊春区旭日街道伊春百货大楼',
                        'phone': '18945888216'
                    },
                    '伊春伊青商场澳伦专柜': {
                        'address': '黑龙江省伊春市（区）伊青商场3楼58号澳伦皮鞋',
                        'phone': '0458-8821818'
                    },
                    '伊春时代广场澳伦专柜': {
                        'address': '黑龙江省伊春市伊春区红升街道时代广场一楼',
                        'phone': '0458-8889776'
                    },
                    '伊春西步行街澳伦专卖店': {
                        'address': '黑龙江省伊春市伊春区红升街道新华街',
                        'phone': '0458-8821817'
                    }
                }
            },
            '哈尔滨市': {
                '五常市': {
                    '五常步行街澳伦专卖店': {
                        'address': '黑龙江省哈尔滨市五常市五常镇建设大街610号',
                        'phone': '0451-51792886'
                    }
                },
                '呼兰区': {
                    '呼兰天丰澳伦专柜': {
                        'address': '黑龙江省哈尔滨市呼兰区兰河街道南大街324号澳伦专卖店',
                        'phone': '0451-57370923'
                    },
                    '呼兰一道街澳伦专卖店': {
                        'address': '黑龙江省哈尔滨市呼兰区一道街红十字医院对面澳伦专卖店',
                        'phone': '0451-57370923'
                    }
                },
                '阿城区': {
                    '阿城达人印象城购物中心澳伦专柜': {
                        'address': '黑龙江省哈尔滨市阿城区达人印象城购物中心一楼鞋区澳伦专柜',
                        'phone': '13032482000'
                    },
                    '阿城源泽鞋城澳伦专柜': {
                        'address': '黑龙江省哈尔滨市阿城区金城街道世纪名苑源泽购物中心',
                        'phone': '0451-53781146'
                    }
                },
                '香坊区': {
                    '哈尔滨通乡商店澳伦专柜': {
                        'address': '黑龙江省哈尔滨市香坊区红旗大街38号',
                        'phone': '15045689596'
                    }
                },
                '宾县': {
                    '哈尔滨宾县澳伦专卖店': {
                        'address': '黑龙江省哈尔滨市宾县宾州老政府澳伦专卖店',
                        'phone': '0451-57916532'
                    }
                },
                '尚志市': {
                    '尚志市大世界鞋城澳伦专柜': {
                        'address': '黑龙江省哈尔滨市尚志市尚志镇步行街大世界鞋城',
                        'phone': '0451-53356977'
                    }
                }
            },
            '鸡西市': {
                '鸡冠区': {
                    '鸡西市新玛特中心店澳伦专柜': {
                        'address': '黑龙江省鸡西市鸡冠区向阳街道中心大街新玛特中心店四楼鞋区澳伦专柜',
                        'phone': '15146721877'
                    },
                    '鸡西市大商新玛特广益店澳伦专柜': {
                        'address': '黑龙江省鸡西市鸡冠区红军路大商新玛特一楼鞋区澳伦专柜',
                        'phone': '15146789079'
                    }
                }
            },
            '佳木斯市': {
                '向阳区': {
                    '佳木斯百货大楼澳伦专柜': {
                        'address': '黑龙江省佳木斯市向阳区保卫街道通江街281号大商集团佳木斯百货大楼',
                        'phone': '13258608041'
                    }
                }
            },
            '铁力市': {
                '其他地区': {
                    '伊春铁力商厦澳伦专柜': {
                        'address': '黑龙江省铁力市铁力商厦三楼澳伦专柜',
                        'phone': '13089598246'
                    }
                }
            }
        },
        '辽宁省': {
            '营口市': {
                '盖州市': {
                    '盖州澳伦专卖店': {
                        'address': '辽宁省营口市盖州市鼓楼街道红旗大街聚华商厦1M-2M7号',
                        'phone': '0417-7804282'
                    }
                },
                '站前区': {
                    '营口兴隆大厦澳伦专柜': {
                        'address': '辽宁省营口市站前区学府路兴隆大厦三楼澳伦专柜',
                        'phone': '15124241688'
                    }
                }
            },
            '辽阳市': {
                '辽阳县首山镇': {
                    '首山人民街澳伦专卖店': {
                        'address': '辽宁省辽阳市辽阳县首山镇人民街27号',
                        'phone': '0419-7975288'
                    }
                },
                '白塔区': {
                    '辽阳友谊商场澳伦专柜': {
                        'address': '辽宁省辽阳市白塔区跃进街道友谊商城(新运大街店)',
                        'phone': '0419-3614489'
                    }
                }
            },
            '铁岭市': {
                '银州区': {
                    '铁岭惠丰鞋城澳伦专柜': {
                        'address': '辽宁省铁岭市银州区广裕街38号惠丰鞋城二楼',
                        'phone': '15841014167'
                    }
                },
                '调兵山': {
                    '调兵山兀术街澳伦专卖店': {
                        'address': '辽宁省铁岭市调兵山仿古一条街3号楼8号',
                        'phone': '024-76882259'
                    },
                    '调兵山仿古一条街澳伦专卖店': {
                        'address': '辽宁省铁岭市调兵山仿古一条街18号楼4号',
                        'phone': '024-76882261'
                    }
                },
                '西丰县西丰镇': {
                    '西丰站前街澳伦专卖店': {
                        'address': '辽宁省铁岭市西丰县西丰镇站前街1号楼',
                        'phone': '024-77840067'
                    }
                },
                '开原市': {
                    '开原步行街西出口澳伦专卖店': {
                        'address': '辽宁省铁岭市开原市新城街道解放路82号',
                        'phone': '024-73803977'
                    },
                    '开原市大厅澳伦专卖店': {
                        'address': '辽宁省铁岭市开原市新城街道开原大街66-12号',
                        'phone': '024-37825357'
                    },
                    '开原步行街东出口澳伦专卖店': {
                        'address': '辽宁省铁岭市开原市新城街道前进大街425号',
                        'phone': '024-73835977'
                    }
                },
                '昌图县': {
                    '昌图世纪大天马百货澳伦专柜': {
                        'address': '辽宁省铁岭市昌图县家和美商城东一楼世纪大天马百货',
                        'phone': '024-75923099'
                    }
                }
            },
            '鲅鱼圈市': {
                '熊岳镇': {
                    '熊岳裕洪澳伦专卖店': {
                        'address': '辽宁省营口市鲅鱼圈市熊岳镇三线路旺运红门市',
                        'phone': '0417-7847699'
                    }
                }
            },
            '葫芦岛市': {
                '绥中县': {
                    '绥中兴隆百货澳伦专柜': {
                        'address': '辽宁省葫芦岛市绥中县中央路二段14',
                        'phone': '0429-6069182'
                    },
                    '绥中新兴街澳伦专卖店': {
                        'address': '辽宁省葫芦岛市绥中县绥中镇新兴街33号',
                        'phone': '0429-6189292'
                    }
                },
                '连山区': {
                    '葫芦岛连山大街澳伦专卖店': {
                        'address': '辽宁省葫芦岛市连山区站前街道连山大街4-1号',
                        'phone': '0429-3790225'
                    }
                },
                '建昌县': {
                    '葫芦岛建昌澳伦专卖店': {
                        'address': '辽宁省葫芦岛市建昌县建昌镇朝阳路2?段8号',
                        'phone': '0429一3779012'
                    }
                },
                '兴城市': {
                    '兴城澳伦专卖店': {
                        'address': '辽宁省葫芦岛市兴城市城东街道兴海南街55-1号',
                        'phone': '0429-5705858'
                    }
                }
            },
            '本溪市': {
                '桓仁满族自治县': {
                    '桓仁中心大街澳伦专卖店': {
                        'address': '辽宁省本溪市桓仁满族自治县八卦城街道中心大街250-1号',
                        'phone': '024-48825586'
                    },
                    '桓仁鹏翔购物广场澳伦专柜': {
                        'address': '辽宁省本溪市桓仁县新市街鹏翔购物广场一楼澳伦专柜',
                        'phone': '13841495471'
                    },
                    '桓仁民族路澳伦专卖店': {
                        'address': '辽宁省本溪市桓仁县民族路商业银行对面实华综合楼下',
                        'phone': '024-47691295'
                    }
                },
                '明山区': {
                    '本溪永丰步行街万达鞋城澳伦专柜': {
                        'address': '辽宁省本溪市明山区金山街道水塔路16-1号',
                        'phone': '024-42103752'
                    }
                }
            },
            '鞍山市': {
                '海城市': {
                    '海城普临购物商场澳伦专柜': {
                        'address': '辽宁省鞍山市海城市兴海街道普临购物',
                        'phone': '0412-3305133'
                    }
                },
                '台安县': {
                    '台安县台北街澳伦专卖店': {
                        'address': '辽宁省鞍山市台安县台北街道振兴路6号',
                        'phone': '0412-4821899'
                    }
                }
            },
            '盘锦市': {
                '兴隆台区': {
                    '盘锦新玛特澳伦专柜': {
                        'address': '辽宁省盘锦市兴隆台区步行街新玛特',
                        'phone': '0427-6503504'
                    }
                },
                '大洼县': {
                    '盘锦兴隆三百店澳伦专柜': {
                        'address': '辽宁省盘锦市大洼县兴隆三百',
                        'phone': '0427-6503507'
                    }
                }
            },
            '丹东市': {
                '宽甸满族自治县': {
                    '丹东宽甸中心路澳伦专卖店': {
                        'address': '辽宁省丹东市宽甸满族自治县中心路澳伦专卖',
                        'phone': '0415-5117707'
                    }
                },
                '元宝区': {
                    '丹东元宝区新玛特澳伦专柜': {
                        'address': '辽宁省丹东市元宝区六道口街道国贸写字楼',
                        'phone': '13694268668'
                    }
                }
            },
            '朝阳市': {
                '双塔区': {
                    '朝阳市商业城澳伦专柜': {
                        'address': '辽宁省朝阳市双塔区南塔街道辽宁省朝阳商业城',
                        'phone': '13504215921'
                    }
                },
                '北票市': {
                    '北票南山浩源商场澳伦专卖店': {
                        'address': '辽宁省朝阳市北票市城关街道振兴街西段19号',
                        'phone': '0421-5825428'
                    },
                    '北票南山管理区澳伦专卖店': {
                        'address': '辽宁省朝阳市北票市冠山街道市府街9号',
                        'phone': '0421-5581719'
                    }
                }
            },
            '大连市': {
                '甘井子区': {
                    '大连市万达广场澳伦专柜': {
                        'address': '辽宁省大连市甘井子区凌水街道黄浦路598号万达广场(大连高新店)',
                        'phone': '13940859135'
                    }
                },
                '金州区': {
                    '大连金州区北乐大市场二楼澳伦专柜': {
                        'address': '辽宁省大连市金州区三十里堡街道北乐商场二楼澳伦19-20',
                        'phone': '0411-87377279'
                    },
                    '大连金州区北乐大市场一楼澳伦专卖店': {
                        'address': '辽宁省大连市金州区三十里堡街道北乐大市场',
                        'phone': '15382183109'
                    }
                },
                '沙河口区': {
                    '大连西安路友谊奥莱澳伦专柜': {
                        'address': '辽宁省大连市沙河口区兴工街道福佳新天地广场福佳新天地广场(西安路店)',
                        'phone': '13940859135'
                    },
                    '大连西安路福佳新天地澳伦专柜': {
                        'address': '辽宁省大连市沙河口区兴工街道福佳新天地广场福佳新天地广场(西安路店)',
                        'phone': '13940859135'
                    }
                }
            },
            '抚顺市': {
                '新抚区': {
                    '抚顺站前街抚顺百货大楼澳伦专柜': {
                        'address': '辽宁省抚顺市新抚区站前街道抚顺百货大楼(商海大厦西北)',
                        'phone': '024-58065793'
                    }
                },
                '新宾满族自治县新宾镇': {
                    '抚顺新宾启运路澳伦专卖店': {
                        'address': '辽宁省抚顺市新宾满族自治县新宾镇启运路38号楼',
                        'phone': '024-55063518'
                    }
                },
                '清原满族自治县': {
                    '抚顺清原县清河路澳伦专卖店': {
                        'address': '辽宁省抚顺市清原满族自治县清原镇清河路58-11号',
                        'phone': '024-53353860'
                    }
                }
            },
            '锦州市': {
                '义县': {
                    '锦州义县南街澳伦专卖店': {
                        'address': '辽宁省锦州市义县义州街道马圈子胡同',
                        'phone': '0416-7670222'
                    }
                },
                '黑山县': {
                    '黑山盛世名都澳伦专卖店': {
                        'address': '辽宁省锦州市黑山县解放北街97号南关',
                        'phone': '0416-5518800'
                    },
                    '黑山春天商业街澳伦专卖店': {
                        'address': '辽宁省锦州市黑山县中大中路21号',
                        'phone': '0416-5582333'
                    },
                    '黑山广场澳伦专卖店': {
                        'address': '辽宁省锦州市黑山县解放北街54号解放路北广场南',
                        'phone': '0416-2711078'
                    }
                },
                '太和区': {
                    '锦州兴隆大家庭澳伦专柜': {
                        'address': '辽宁省锦州市太和区凌南街道凌川路亿隆国际广场',
                        'phone': '0416-37162939'
                    }
                },
                '北镇': {
                    '北宁万隆购物广场澳伦专柜': {
                        'address': '辽宁省锦州市北镇市北镇街道团结街169号',
                        'phone': '13654960400'
                    },
                    '北宁澳伦专卖店': {
                        'address': '辽宁省锦州市北镇市北镇街道文家胡同兴福家庭北',
                        'phone': '0416-6639455'
                    }
                }
            },
            '阜新市': {
                '海州区': {
                    '阜新大众步行街运动汇澳伦专柜': {
                        'address': '辽宁省阜新市海州区和平街道大众步行街4号楼',
                        'phone': '15042505001'
                    },
                    '阜新解放大街千盛百货澳伦专柜': {
                        'address': '辽宁省阜新市海州区和平街道解放大街39-6c102号新玛特(解放大街店)',
                        'phone': '0418-6688687'
                    }
                },
                '彰武县': {
                    '阜新市彰武县澳伦专卖店': {
                        'address': '辽宁省阜新市彰武县彰武镇解放大街鼎信步行街28-2-27',
                        'phone': '0418-3687997'
                    }
                }
            },
            '沈阳市': {
                '沈北新区': {
                    '沈阳新城子澳伦专卖店': {
                        'address': '辽宁省沈阳市沈北新区新城子街道旺街41号澳伦鞋店',
                        'phone': '024-31231948'
                    },
                    '沈阳虎石台澳伦专卖店': {
                        'address': '辽宁省沈阳市沈北新区虎石台街道兴明街信诚花园18号',
                        'phone': '024-31031343'
                    }
                },
                '法库县': {
                    '法库绿野花园澳伦专卖店': {
                        'address': '辽宁省沈阳市法库县宾馆大街B区2011门市',
                        'phone': '15524288733'
                    },
                    '法库宾馆大街澳伦专卖店': {
                        'address': '辽宁省沈阳市法库县天盛鞋城二楼',
                        'phone': '15524288733'
                    }
                },
                '康平县': {
                    '康平中心街澳伦专卖店': {
                        'address': '辽宁省沈阳市康平县胜利街道中心街',
                        'phone': '024-87333363'
                    }
                },
                '辽中县': {
                    '辽中澳伦专卖店': {
                        'address': '辽宁省沈阳市辽中县商业街122号',
                        'phone': '024-87823874'
                    }
                },
                '于洪区': {
                    '沈阳于洪乐天玛特澳伦专柜': {
                        'address': '辽宁省沈阳市于洪区黄河北大街96号乐天玛特一楼澳伦国奥现代城(东区)',
                        'phone': '13354232850'
                    }
                },
                '新民市': {
                    '新民乐府购物广场澳伦专柜': {
                        'address': '辽宁省沈阳市新民市新柳街道辽河大街乐府购物广场',
                        'phone': '18640435566'
                    },
                    '新民中街澳伦专卖店': {
                        'address': '辽宁省沈阳市新民市辽滨街道中兴西路70号',
                        'phone': '024-87854766'
                    }
                }
            }
        }
    }

    $(document).ready(function () {
//    初始化
        init_pro()
        load_data()

        $("#province").change(function () {
//如果是请选择省份，则为city和hometown添加disabled属性。如果不是则去掉city的
            if ($("#province").val() == "请选择省份") {
                $("#city").val("请选择城市");
                $("#city").attr("disabled", "disabled");
                $("#hometown").attr("disabled", "disabled");
                load_data();
            }
            else {
                $(".mycity").remove('.tomove');
                $("#city").removeAttr("disabled");
                $("#hometown").attr("disabled", "disabled");
//            为select赋值，先去掉所有选项，然后增加，通过filter防止


//                $("#mycity").last().after("<option mycity class='tomove'>你好</option>")
                for (var x in mydict[$("#province").val()]) {
                    $(".mycity").last().after("<option class='mycity tomove'>" + x + "</option>")
                }
                load_data()
            }
        });


        $("#city").change(function () {
            if ($("#city").val() == "请选择城市") {
                $("#hometown").val("请选择区县");
                $("#hometown").attr("disabled", "disabled");
                load_data();
            }
            else {
                $(".myhometown").remove('.tomove');
                $("#hometown").removeAttr("disabled");
                for (var x in mydict[$("#province").val()][$("#city").val()]) {
                    $(".myhometown").last().after("<option class='myhometown tomove'>" + x + "</option>")
                }
                load_data()
            }
        });


        $("#hometown").change(function () {
            load_data()
        });
    });

    var init_pro = function () {
        $(".myprovience").remove(".tomove");
        for (var x in mydict) {

            $(".myprovience").last().after("<option  class='myprovience tomove'>" + x + "</option>")
        }
    };


    var load_data = function () {
        var provience = $("#province").val()
        var city = $("#city").val()
        var hometown = $("#hometown").val()
        if (provience == "请选择省份") {
            $(".data").remove(".tomove");
            for (var a in mydict) {
                for (var b in mydict[a]) {

                    for (var c in mydict[a][b]) {
                        for (var d in mydict[a][b][c]) {
                            $(".data").last().after('<tr class="data tomove"><td><h5">' + d + '</h5></td ><td><h5>' + mydict[a][b][c][d]["phone"] + '</h5></td><td><h5>' + mydict[a][b][c][d]["address"] + '</h5></td></tr>')
                        }
                    }

                }
            }

// 直接刷出所有数据
        }
        else {
            if (city == "请选择城市") {
                $(".data").remove(".tomove");
                for (var a in mydict[$("#province").val()]) {
                    for (var b in mydict[$("#province").val()][a]) {
                        for (var c in mydict[$("#province").val()][a][b]) {
                            $(".data").last().after('<tr class="data tomove"><td><h5>' + c + '</h5></td><td><h5>' + mydict[$("#province").val()][a][b][c]["phone"] + '</h5></td><td><h5>' + mydict[$("#province").val()][a][b][c]["address"] + '</h5></td></tr>')
                        }
                    }
                }
            } else {
                if (hometown == "请选择区县") {
                    $(".data").remove(".tomove");
                    for (var a in mydict[$("#province").val()][$("#city").val()]) {
                        for (var b in mydict[$("#province").val()][$("#city").val()][a]) {
                            $(".data").last().after('<tr class="data tomove"><td><h5>' + b + '</h5></td><td><h5>' + mydict[$("#province").val()][$("#city").val()][a][b]["phone"] + '</h5></td><td><h5>' + mydict[$("#province").val()][$("#city").val()][a][b]["address"] + '</h5></td></tr>')
                        }
                    }
                }
                else {
                    $(".data").remove(".tomove");
                    for (var a in mydict[$("#province").val()][$("#city").val()][$("#hometown").val()]) {
                        $(".data").last().after('<tr class="data tomove"><td><h5>' + a + '</h5></td><td><h5>' + mydict[$("#province").val()][$("#city").val()][$("#hometown").val()][a]["phone"] + '</h5></td><td><h5>' + mydict[$("#province").val()][$("#city").val()][$("#hometown").val()][a]["address"] + '</h5></td></tr>')
                    }
                }
            }
        }

    };

</script>
{% endblock %}
{% block content %}

    {% block image_content %}
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="../../static/picture/test.png" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="../../static/picture/test.png" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

    {% endblock %}

    {% block select_content %}
    <div class="container">
        <div class="clearfix" id="myselect">
            <div class="col-xs-6 col-sm-4">
                <select class="form-control" id="province">
                    <option class="myprovience">请选择省份</option>
                </select>
            </div>

            <div class="col-xs-6 col-sm-4">
                <select class="form-control" id="city" disabled>
                    <option class="mycity">请选择城市</option>
                </select>
            </div>

            <div class="col-xs-6 col-sm-4">
                <select class="form-control" id="hometown" disabled>
                    <option class="myhometown">请选择区县</option>
                </select>
            </div>
        </div>
    </div>
{% endblock %}

{% block info %}
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <td class="col-xs-4 col-sm-4"><h3><span class="label label-success">商户名称</span></h3></td>
            <td class="col-xs-4 col-sm-4"><h3><span class="label label-warning">商户电话</span></h3></td>
            <td class="col-xs-4 col-sm-4"><h3><span class="label label-primary">详细地址</span></h3></td>
        </thead>
        <tbody>
        <tr class="data" hidden>
            <td><h5>test</h5></td>
            <td><h5>test</h5></td>
            <td><h5>test</h5></td>
        </tr>


        </tbody>
    </table>
</div>
{% endblock %}

{% endblock %}
